@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<SatisHareket>
@{
    ViewBag.Title = "Satış Listesi";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container mt-4">
    <div class="row mb-3">
        <div class="col-md-6">
            <h2>Satış Listesi</h2>
        </div>
        <div class="col-md-6 text-right">
            <a href="/Satis/SatisListesi" class="btn btn-outline-dark"><i class="fa fa-plus"></i> PDF/EXCEL</a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <table id="satisTable" class="table table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Ürün</th>
                        <th>Cari</th>
                        <th>Personel</th>
                        <th>Miktar</th>
                        <th>Birim</th>
                        <th>Fiyat</th>
                        <th>Toplam</th>
                        <th>Tarih</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var k in Model)
                    {
                        <tr>
                            <td>@k.SatisId</td>
                            <td>@k.Urun.UrunAd</td>
                            <td>@k.Cariler.CariAd @k.Cariler.CariSoyad</td>
                            <td>@k.Personel.PersonelAd @k.Personel.PersonelSoyad</td>
                            <td>@k.Miktar.ToString("N2")</td>
                            <td>@k.Birim</td>
                            <td>@k.Fiyat.ToString("N2") ₺</td>
                            <td>@k.ToplamTutar.ToString("N2") ₺</td>
                            <td>@k.Tarih.ToString("dd.MM.yyyy")</td>
                            <td>
                                <div class="btn-group" role="group">
                                   
                                    <a href="/Satis/SatisDetay/@k.SatisId" class="btn btn-info btn-sm">
                                        <i class="fa fa-info-circle"></i> Detaylar
                                    </a>
                                  
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#satisTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Turkish.json"
                },
                "pageLength": 10,
                "order": [[0, "desc"]]
            });
        });
    </script>
}

@section styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
}