@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Cariler>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Cariler Tablosu</h6>
    </div>
    <div class="card-body">
        <table id="cariTablo" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>Şehir</th>
                    <th>E-posta</th>
                    <th>Borç (₺)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model)
                {
                    <tr>
                        <td>@x.CariId</td>
                        <td>@x.CariAd</td>
                        <td>@x.CariSoyad</td>
                        <td>@x.CariSehir</td>
                        <td>@x.CariMail</td>
                        <td>@x.ToplamBorc</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.bootstrap5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    <script>
        $(function () {
            $('#cariTablo').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
                "language": { "url": "//cdn.datatables.net/plug-ins/1.11.5/i18n/tr.json" },
                dom: 'Bfrtip',
                buttons: ['copy', 'excel', 'pdf']
            });
        });
    </script>
}